@font-face {
  font-family: 'Cursed Timer ULiL';
  src: url('CursedTimerULiL.woff2') format('woff2');
  font-display: swap;
}

/* Applying font with fallbacks */
/* body {
  font-family: 'Cursed Timer', 'Arial', sans-serif;
} */

body {
    margin: 0;
    background-color: #1b244a;
}


.container {
    color: #eeeeee;
    display: flex;
    justify-content: space-around;
}

.team {
    text-align: center;
    width: 160px
}

h3 {
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.scoreboard {
    font-family: 'Cursed Timer ULiL', 'Arial', sans-serif;
    background-color: #080001;
    color: #f94f6d;
    font-size: 90px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom : 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px; 
}

.buttons {
    font-family: 'Cursed Timer ULiL', 'Arial', sans-serif;
    display: flex;
    justify-content: space-around;
}

button {
    font-family: inherit;
    background-color: transparent;
    color: #9aabd8;
    border: 2px solid #9aabd8;
    border-radius: 6px;
    font-size: 18px;
    width: 45px;
    height: 45px;
}

.reset-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#reset {
    font-family: 'Cursed Timer ULiL', 'Arial', sans-serif;
    background-color: transparent;
    color: #f94f6d;
    border: 2px solid #f94f6d;
    border-radius: 6px;
    font-size: 20px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

#reset:hover {
    background-color: #f94f6d;
    color: #080001;
}